[submodule "chunklekit"]
	path = chunklekit
	url = https://github.com/oshiimizunohuta/chunklekit.git
[submodule "litrosound"]
	path = litrosound
	url = https://github.com/oshiimizunohuta/litrosound.git
[submodule "litroreceiver"]
	path = litroreceiver
	url = https://github.com/oshiimizunohuta/litroreceiver.git
