html{
	height: 100%;
}
body{
	margin: 0;
	padding: 0;
	height:100%;
	width:100%;
	display:table;
	background: #000000;
}
h1{
	font-size:16px;
}
.main{
	overflow:hidden;
}

canvas{
	/*-webkit-backface-visibility: hidden;*/
	-webkit-transform: translate(0, 0);
	z-index:1;
}
.center{
	width:100%;
	height:100%;
	display:table-cell;
	vertical-align:middle;
	text-align: center;
}

.display iframe#login{
}
